{$ADMIN_ADDRESS} {
  encode zstd gzip

  handle /api/admin/* {
    reverse_proxy server:8000
  }

  handle /api/health {
    reverse_proxy server:8000
  }

  handle {
    reverse_proxy admin:8000
  }
}

{$SUPPORT_ADDRESS} {
  encode zstd gzip

  handle /api/public/* {
    reverse_proxy server:8000
  }

  handle /api/integrations/* {
    reverse_proxy server:8000
  }

  handle /api/health {
    reverse_proxy server:8000
  }

  handle {
    reverse_proxy support:8000
  }
}
